body{
  background-color: #142850;
}
p, td, th, a, label, li{
  color: white;
}

h1, h3{
  color: #0c7b93;
}

hr{
  border-style: dotted none none;
  border-width: 8px;
  color: #00a8cc;}

  .profile-picture-cls {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }
